<%= simple_form_for @offer do |f| %>
  <% if @offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

      <ul>
      <% @offer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name, label: 'Namn' %>

  <%= f.input :email, placeholder: 'user@domain.com' %>

  <%= f.input :from_address, label: 'Fr책n Adress' %>

  <%= f.input :to_address, label: 'Till Adress' %>

  <%= f.input :distance, label: 'Avst책nd' %>

  <%= f.input :living_area, label: 'Bostadsstorlek' %>

  <%= f.input :storage_area, label: 'Vind/K채llare storlek' %>

  <%= f.input :piano, label_html: { class: 'ui checkbox' } %>

  <%= f.input :help, label: 'Packhj채lp', label_html: { class: 'ui checkbox' } %>

  <div class="actions">
    <%= f.button :submit, "Skicka" %> <%= link_to 'Tillbaka', root_path, class: 'ui red button' %>
  </div>
<% end %>
