<%= simple_form_for @offer do |f| %>
  <% if @offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

      <ul>
      <% @offer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name %>

  <%= f.input :email, placeholder: 'user@domain.com' %>

  <%= f.input :from_address %>

  <%= f.input :to_address %>

  <%= f.input :distance %>

  <%= f.input :living_area %>

  <%= f.input :storage_area %>

  <%= f.input :piano, label_html: { class: 'ui checkbox' } %>

  <%= f.input :help, label_html: { class: 'ui checkbox' } %>

  <div class="actions">
    <%= f.button :submit, "Send" %> <%= link_to 'Back', root_path, class: 'ui red button' %>
  </div>
<% end %>
